{% extends 'base/base.html' %}
{% block title %} Inicio {% endblock title %}
{% block content %}
<div class="container-fluid">
{% if admin %}
   <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">content_copy</i>
                </div>
                <div class="card-content">
                    <p class="category">Actual hay </p>
                    <h4 class="title">{{ cant.inventory }} <small style="font-size: small">Item regist</small></h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons ">list</i> <a href="{% url 'inventory:index' %}" style="color: #727272"> Ver todos los registros.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">info_outline</i>
                </div>
                <div class="card-content">
                    <p class="category">Actual hay </p>
                    <h4 class="title">{{ cant.accident }} <small style="font-size: small">Accid regis.</small></h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons ">list</i> <a href="{% url 'binnacle:all_accident' %}" style="color: #727272"> Ver todos los registros.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">done_all</i>
                </div>
                <div class="card-content">
                    <p class="category">Actual hay </p>
                    <h4 class="title">{{ cant.type_accident }} <small style="font-size: small">Tipos accid</small></h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons ">list</i> <a href="{% url 'screen:settings' %}" style="color: #727272"> Ver todos los registros.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">group</i>
                </div>
                <div class="card-content">
                    <p class="category">Actual hay </p>
                    <h4 class="title">{{ cant.users }} <small style="font-size: small">Usuar. reg.</small></h4>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons ">list</i> <a href="{% url 'user:list' %}" style="color: #727272"> Ver todos los registros.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">content_copy</i>
                </div>
                <div class="card-content">
                    <p class="category">Actualmente hay </p>
                    <h3 class="title">{{ cant.inventory }} <small style="font-size: small">Items registrados</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons ">list</i> <a href="{% url 'inventory:index' %}" style="color: #727272"> Ver todos los registros.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">store</i>
                </div>
                <div class="card-content">
                    <p class="category">Actualmente hay </p>
                    <h3 class="title">{{ cant.accident }} <small style="font-size: small">Accidentes regis.</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons ">list</i> <a href="{% url 'binnacle:all_accident' %}" style="color: #727272"> Ver todos los registros.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">info_outline</i>
                </div>
                <div class="card-content">
                    <p class="category">Actualmente hay </p>
                    <h3 class="title">{{ cant.type_accident }} <small style="font-size: small">Tipos de accidentes</small></h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons ">list</i> <a href="{% url 'screen:settings' %}" style="color: #727272"> Ver todos los registros.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

					<div class="row">
						<div class="col-lg-9 col-md-12">
							<div class="card card-nav-tabs">
								<div class="card-header" data-background-color="purple">
									<div class="nav-tabs-navigation">
										<div class="nav-tabs-wrapper">
											<span class="nav-tabs-title">Ultimos registros:</span>
											<ul class="nav nav-tabs" data-tabs="tabs">
												<li class="active">
													<a href="#inventory" data-toggle="tab">
														<i class="material-icons">format_list_numbered</i>
														Inventario
													<div class="ripple-container"></div></a>
												</li>
												<li class="">
													<a href="#binnacle" data-toggle="tab">
														<i class="material-icons">import_contacts</i>
                                                        Bitacora
													<div class="ripple-container"></div></a>
												</li>
                                                {% if admin %}
												<li class="">
													<a href="#user" data-toggle="tab">
														<i class="material-icons">group</i>
                                                        Usuarios
													<div class="ripple-container"></div></a>
												</li>
                                                {% endif %}
											</ul>
										</div>
									</div>
								</div>

								<div class="card-content">
									<div class="tab-content">
										<div class="tab-pane active" id="inventory">
											<table class="table">
												<tbody>
                                                {% for movimiento in inventory %}
                                                    <tr>
														<td>
															<div style="width: 20px; padding-top: 3px">
                                                                <i class="material-icons">label</i>
															</div>
														</td>
														<td class="text-center" style="width: 160px">{{ movimiento.created_at }}</td>
														<td class="text-left" style="width: 100px">{{ movimiento.code }}</td>
														<td class="text-left" style="width: 370px">{{ movimiento.code.description }}</td>
														<td class="text-left" style="width: 20px">{{ movimiento.stock }}</td>
														<td class="td-actions text-center">
                                                            <a href="{% url 'inventory:movement_detail' movimiento.code %}">
                                                                <button type="button" rel="tooltip" title="Ver detalles" class="btn btn-primary btn-simple btn-xs">
                                                                    <i class="material-icons">edit</i> Ver
                                                                </button>
                                                            </a>
													</tr>
                                                {% endfor %}


												</tbody>
											</table>
										</div>
										<div class="tab-pane" id="binnacle">
											<table class="table">
												<tbody>
                                                {% for movimiento in binnacle %}
                                                    <tr>
														<td>
															<div style="width: 20px; padding-top: 3px">
                                                                <i class="material-icons">label</i>
															</div>
														</td>
														<td class="text-center" style="width: 160px">{{ movimiento.date }}   a las {{ movimiento.hour }}</td>
														<td class="text-left" style="width: 470px">{{ movimiento.type }} en {{ movimiento.workstation }} de {{ movimiento.area }} sufrido por {{ movimiento.working.name }}</td>
														<td class="td-actions text-center">
                                                            <a href="{% url 'binnacle:accident' 'view' movimiento.id %}">
                                                                <button type="button" rel="tooltip" title="Ver detalles" class="btn btn-primary btn-simple btn-xs">
                                                                    <i class="material-icons">edit</i> Ver
                                                                </button>
                                                            </a>
													</tr>
                                                {% endfor %}


												</tbody>
											</table>
										</div>
										<div class="tab-pane" id="user">
											<table class="table">
												<tbody>
                                                {% for movimiento in user_ %}
                                                    <tr>
														<td>
															<div style="width: 20px; padding-top: 3px">
                                                                <i class="material-icons">label</i>
															</div>
														</td>
														<td class="text-center" style="width: 160px">{{ movimiento.date_joined }}</td>
														<td class="text-left" style="width: 470px">Usuario: {{ movimiento }} - Nombre: {{ movimiento.first_name }} {{ movimiento.last_name }} - Email: {{ movimiento.email }}</td>
														<td class="td-actions text-center">
                                                            <a href="{% url 'user:list' %}">
                                                                <button type="button" rel="tooltip" title="Ver detalles" class="btn btn-primary btn-simple btn-xs">
                                                                    <i class="material-icons">edit</i> Ver
                                                                </button>
                                                            </a>
													</tr>
                                                {% endfor %}


												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-12">
							<div class="card">
	                            <div class="card-header" data-background-color="red">
	                                <h3 class="title">Sin accidentes</h3>
	                            </div>
	                            <div class="card-content text-center">
                                    <h1 style="font-size: 56pt"><b>{{ days.days }}</b></h1>
                                    <h5>dias sin accidentes</h5>
	                            </div>
                                <div class="card-footer text-center">
                                    <div class="stats">
                                        <h4><i class="material-icons">date_range</i> ¿Ultimo accidente?</h4>
                                        <h3><b>{{ last_accident.date }}</b></h3>
                                    </div>
                                </div>
	                        </div>
						</div>
					</div>

				</div>
{% endblock content %}