{% load staticfiles %}
<head>
<title> Bienvenidon a PREVEX</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"></head>
<body>
<div align="center">
<h1> Su contraseña se a reestablecido correctamente</h1>
<br>
<a href="{% url 'login' %}">Iniciar sesion</a>
</div>
</body>